<div class="row" *ngIf="!movie; else main_content">
    <h1>Cargando...</h1>
</div>
<ng-template #main_content>
    <div class="conteiner">
        <div class="columna">
            <section class="inner">
                <div class="poster " style="color : white;">
                    <img [src]="'http://localhost:3000/' + movie.poster" alt="..." w-100>
                </div>
                <div class="contenido">
                    <section>
                        <div class="title">
                            <h2>{{movie.titulo}}</h2>
                        </div>
                        <h3>Sinopsis</h3>
                        <div>
                            <p>{{movie.argumento}}</p>
                        </div>
                        <h3></h3>
                        <ol>
                            <li>
                                <h5>
                                    <p>Actor</p>
                                </h5>
                                <p>{{movie.actores}}</p>
                            </li>
                            <li>
                                <h5>
                                    <p>Director</p>
                                </h5>
                                <p>{{movie.director}}</p>
                            </li>
                        </ol>
                    </section>
                </div>
            </section>
        </div>
    </div>
</ng-template>
<button class="btn dlt_btn" (click)="deleteMovie()">Borrar</button>