<div class="row" *ngIf="!movie; else main_content">
    <h1>Cargando...</h1>
</div>
<ng-template #main_content>
        <div class="conteiner">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" style="color : white;">
                <img src="/assets/img/joker-790658206-large.jpg" alt="...">
            </div>
        </div>
    <div class="conteiner">
        <div class="row">
            <div class="column1">
                <h5>Fecha de estreno:</h5>
                <h5>Actores:</h5>
                <h5>Argumento:</h5>
                <h5>Director:</h5>
                <h5>Duración:</h5>
                <h5>Género:</h5>
            </div>
            <div class="column2">
                <h5>{{movie.fechaEstreno}}</h5>
                <h5>{{movie.actores}}</h5>
                <h5>{{movie.argumento}}</h5>
                <h5>{{movie.director}}</h5>
                <h5>{{movie.duracion}}</h5>
                <h5>{{movie.genero}}</h5>
            </div>
        </div>
    </div>
</ng-template>
<button class="btn dlt_btn" (click)="deleteMovie()">Borrar</button>