h5 {
    color: white;
    position: relative;
    font-size: 20px;
    bottom: 0%;
    left: 0;
    right: 0;
}

img {
    width: 100%;
    cursor: pointer;
}

.contenido {
    float: auto;
}

.row {
    background-color: black;
    padding-top: 20px;
    display: flex;
}

.column1 {
    flex: 20%;
  }

.column2 {
    flex: 80%;
}

.dlt_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.dlt_btn:hover {
    color: black;
    background-color: white;
}