h5 {
    color: orange;
    position: relative;
    font-size: 20px;
    bottom: 0%;
    left: 0;
    right: 0;
}

h3 {
    color: orange;
    position: relative;
}

img {
    width: 100%;
    width: 300px;
    height: 450px;
}

.contenido {
    float: auto;
}

.row {
    background-color: black;
    padding-top: 20px;
    display: flex;
}

.dlt_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.dlt_btn:hover {
    color: black;
    background-color: white;
}

.inner {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.columna {
    color: #000;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
    background: transparent;
}

.contenido {
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 450px;
    padding: 20px;
}