<script>
    angular.module('dateInputExample', [])
        .controller('DateController', ['$scope', function($scope) {
            $scope.example = {
                value: new Date()
            };
        }]);
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <form #movieForm="ngForm" (ngSubmit)="addMovie(movieForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="moviesService.selectedMovies._id">
                        <div class="row">
                            <div class="input-group-text col-sm-12">
                                <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="moviesService.selectedMovies.titulo" placeholder="Titulo">
                            </div>
                            <div class="input-group-text col-sm-12">
                                <input type="date" name="fechaEstreno" #fechaEstreno="ngModel" [(ngModel)]="moviesService.selectedMovies.fechaEstreno" placeholder="YYYY/MM/DD">
                            </div>
                            <div class="card-link">
                                <div class="input-group-text col-sm-12">
                                    <button class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>