<div class="conteiner">
    <h1>En cartelera</h1>
    <table>
        <thead>
            <th>Titulo</th>
            <th>Fecha de estreno</th>
            <th></th>
        </thead>
        <tbody>
                <tr *ngFor="let movie of moviesService.movies">
                <td>{{movie.titulo | json}}</td>
                <td>{{movie.fechaEstreno | json}}</td>
                <td><button (click)="movieDetails(movie._id)">Ver detalle</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="conteiner">
        <h1>Próximamente</h1>
        <table>
            <thead>
                <th>Titulo</th>
                <th>Fecha de estreno</th>
            </thead>
            <tbody>
                <tr *ngFor="let movie of moviesService.movies">
                    <td>{{movie.titulo | json}}</td>
                    <td>{{movie.fechaEstreno | json}}</td>
                    <td><button (click)="movieDetails(movie._id)" [routerLink]="['/movie/', movie._id]">Ver detalle</button></td>
                </tr>
            </tbody>
        </table>
    </div>